* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.student-names-container {
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
  height: 50vh;
  overflow-y: scroll;
  padding: 1rem;
  border: 5px solid grey;
}
.hof-list {
  width: 20vh;
  text-align: center;
  padding: 1rem;
  height: 100%;
}

.students-list {
  background: rgba(150, 143, 143, 0.234);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;

  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.li-name {
  margin: 1rem;
  background-color: rgba(54, 193, 243, 0.692);
  padding: 1rem;
}

.image-Performers {
  width: 20vh;
  height: 25vh;
  object-fit: cover;
}
.Performers-name {
  padding: 0.7rem;
  font-size: x-large;
}
.cards-container {
  padding: 2rem;
  display: flex;
  /* gap: 2rem; */
  justify-content: space-evenly;
}

.container__profile {
  width: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gcc-text {
  padding: 1rem 2rem 1rem 2rem;

  text-transform: capitalize;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: max-content;
  font-size: xx-large;
}
.gcc-text-container {
  padding: 1rem;
  display: flex;
  justify-content: center;

  font-size: x-large;
}
.challenge-completed-text {
  padding: 1rem 4rem 1rem 4rem;

  text-transform: capitalize;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: max-content;
}
