@font-face { font-family: Sans-Bold; src: url('GoogleSans-Bold.ttf'); } 
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*
Colours
Blue :  #4285F4
Red : #EA4335
Yellow : #FBBC04
Green : #34A853
*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.blue{
  color: #4285F4;
}
.red{
  color: #EA4335;
}
.yellow{
  color: #FBBC04;
}
.green{
  color: #34A853 ;
}
.top{
    background-image: url(scene.svg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
@media (max-width: 768px){
  .top{
    background-image: url(scene-mobile.svg);
  } 
}

nav{
  font-family: 'PT Mono', monospace;
  z-index: 2000;
}
svg {
  font: 16em/1 Arial;
}
.text--line {
  font-size: 0.5em;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 5s linear;
}
.text-copy:nth-child(1) {
  stroke: #4285F4;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #EA4335;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #FBBC04;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #34A853;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #4285F4;
  stroke-dashoffset: 35%;
}
@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
 }
}
.hof{
  font-family: 'PT Mono', monospace;
  text-align: center;
  margin-bottom: 4rem;
}
.hof-inner{
  justify-content: space-evenly;
  border: 3px solid;
  border-radius: 20px;
  position: relative;
  padding: 35px 5px;
  flex-wrap: wrap;
}
.hof-name{
  font-family: Sans-Bold;
}
.hof-text{
  position: relative;
    z-index: 20;
    background: white;
    padding: 2px 20px;
    font-family: Sans-Bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}
.hof-name-outer{
  width: 300px;
  padding: 20px 20px;
}
.about{
  font-family: 'PT Mono', monospace;
  text-align: center;
  margin-bottom: 4rem;
}
.about-inner{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.about-img{
  width: 600px;
  align-self: center;
  padding: 5%;
}
.about-img img{
  width: 100%;
}
.about-text{
  font-family: 'Open Sans', sans-serif;
    align-self: center;
    font-size: 15px;
    padding: 30px;
    width: 600px;
}
.connect-inner{
  column-gap: 20px;
  margin-top: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: row;
}
.connect-box{
  background-color: #E8F5E9;
  border-radius: 15px;
  padding: 10px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 350px;
  text-align: center;
}
.connect-icon{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #34A853;
  border-radius: 50%;
  padding: 15px;
}
.connect-icon i{
  align-self: center;
  color: white;
}
.team{
  text-align: center;
  margin-bottom: 40px;
}
.team-card-outer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.team-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #f3f3f3;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
}
.green-banner{
  background: url(green-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.yellow-banner{
  background: url(yellow-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.blue-banner{
  background: url(blue-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.red-banner{
  background: url(red-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.team-card-img{
  width: 90%;
  align-self: center;
}
.team-card img{
  width: 100%;
  border-radius: 50%;
}
.team-card .name{
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}
.team-card .title{
  font-family: 'PT Mono', monospace;
  font-weight: lighter;
}
.team-view-more{
  background-color: #FBBC04;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
}
.team-view-more a{
  text-decoration: none;
  color: #f3f3f3;
}
.events{
  text-align: center;
  margin-bottom: 40px;
}
.events-inner{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.event-card-outer{
  display: flex;
    flex-direction: row;
    align-self: center;
    width: 300px;
    flex-wrap: wrap;
}
.event-img{
  width: 400px;
    height: 200px;
}
.event-img img{
  width: 100%;
    height: 100%;
}
.event-text-outer{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px;
    align-self: flex-end;
}
.event-text-outer p:nth-child(1){
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  margin: 0;
}
.event-text-outer p:nth-child(2){
  font-family: 'PT Mono', monospace;
  text-align: left;
  margin: 0;
}
.event-text-outer p:nth-child(3){
  font-family: 'PT Mono', monospace;
  text-align: left;
}
.rsvp{
  background-color: #EA4335;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 36px;
}
.rsvp a{
  text-decoration: none;
  color: #f3f3f3;
}
.blogs{
  text-align: center;
  margin-bottom: 40px;
}
.blogs-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.blogs-blog{
  display: flex;
    flex-direction: row;
    border: 1px solid #cdcbcb;
    border-radius: 60px;
    padding: 10px 50px;
    width: 450px;
    margin-bottom: 20px;
}
.blogs-blog-inner{
display: flex;
flex-direction: row;
align-items: center;
}
.blogs-img{
  width: 70px;
}
.blogs-img img{
  width: 100%;
  border-radius: 50%;
}
.read-now{
  background-color: #FBBC04;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 36px;
}
.read-now a{
  text-decoration: none;
  color: #f3f3f3;
}
.location{
  text-align: center;
}
.contact{
  text-align: center;
}
.contact-outer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contact-inner{
  display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
}
.form-outer{
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.contact-inputs{
  display: flex;
  flex-direction: column;
}
.contact-content{
  text-align: left;
  align-self: baseline;
  width: 300px;
}
.contact-label{
  font-family: 'PT Mono', monospace;
  align-self: flex-end;
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-input{
  outline: none;
  border: 1px solid #f3f3f3;
  width: 300px;
  display: flex;
  padding: 11px 8px;
}
.send-message{
  background-color: #4285F4;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  width: fit-content;
  text-decoration: none;
  color: #f3f3f3;
}
.contact-inner h4{
  font-family: 'Open Sans', sans-serif;
}
.join-us{
  background-color: #FBBC04;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  width: fit-content;
}
.join-us a{
  text-decoration: none;
  color: #f3f3f3;
}

.gdsc-footer{
  background: url(yellow-banner.png);
  padding: 20px 0;
}
.footer-outer{
  display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    text-align: center;
}
.footer-inner{
  width: 300px;
}
.quicklinks ul{
  list-style: none;
  padding: 0;
}
.quicklinks ul li{
  padding: 2px;
}
.quicklinks ul li a{
  text-decoration: none;
  color: black;
}
.socials a{
  color: black;
  font-size: 40px;
}
.socials a:nth-child(1){
  color: #3b5998;
}
.socials a:nth-child(2){
  color: #FFFC00;
}
.socials a:nth-child(3){
  color: #d15fa0;
}
.socials a:nth-child(4){
  color: #1DA1F2;
}
.bold{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.footer{
  text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
}
.footer p{
  margin: 0;
}